.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%;
}

.form-section {
    width: 40%;
    background-color: #fff;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    padding: 40px;
    box-sizing: border-box; 
}

.form-section .form-group {
    margin-bottom: 20px; 
}

.form-section label {
    display: block; 
    text-align: left; 
}

.form-section input[type="text"],
.form-section input[type="number"],
.form-section select,
.form-section input[type="url"],
.form-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}


.form-section input[type="text"]:focus,
.form-section input[type="number"]:focus,
.form-section input[type="url"]:focus,
.form-section textarea:focus {
    border-color: #333; 
}

#button-submit{
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: #fff;
transition: transform 0.3s ease-in-out;
}
#button-submit:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
