
body, h1, h2, h3, h4, h5, h6, p, ul, li, a, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f5ff;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    min-width: 240px;
    max-width: 240px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #e5e9f0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar nav ul li a i {
    background-color: #ececec;
    padding: 5px;
    border-radius: 12px;
    margin-right: 10px;
    font-size: 20px;
}

.sidebar nav ul li a:hover, .sidebar nav ul li a i.active {
    background-color: #e5e9f0;
    color: #007bff;
    transform: scale(1.05);
    transition: transform 0.3s, background-color 0.3s, color 0.3s ease-in-out;
}

.sidebar-bottom ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-bottom ul li {
    margin-bottom: 20px;
}

.sidebar-bottom ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar-bottom ul li a:hover {
    background-color: #e5e9f0;
    color: #007bff;
}

h1 {
    margin: 20px;
    font-size: 28px;
}

.container-fluid {
    flex-grow: 1;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
}

.card-body {
    width: 100%;
}

input#searchInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 70%;
    margin-right: 10px;
}

button.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn:hover {
    background-color: #2980b9;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #3498db;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

main {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header input[type="text"] {
    flex: 1; 
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f0f5ff;
    padding-left: 20px;
}

.input-box {
    width: 500px; 
    background-color: #f0f5ff;
    border-radius: 10px;
    display: flex; 
    align-items: center; 
}

.input-box i {
    margin-left: 12px; 
    font-size: 20px;
}

header input[type="text"]:focus {
    outline: none;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.recommended, .categories {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.recommended h2, .categories h2 {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommended h2 .see-all {
    font-size: 14px;
    text-decoration: none;
    color: #007bff;
}

.book-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.book {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 130px;
    transition: transform 0.3s;
    cursor: pointer;
}

.book:hover {
    transform: scale(1.05);
}

.book img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

.book p {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.book .author {
    color: #888;
    font-size: 12px;
}

.category-list {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.category {
    color: #000;
    background-color: #e5e9f0;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category:hover, .category.active {
    background-color: #007bff;
    color: #ffffff;
}

.book-details {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    padding-top: 8%;
}

.book-details img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

.book-details h2 {
    margin: 10px 0;
    font-size: 18px;
}

.book-details .rating {
    color: #ffc107;
    font-size: 16px;
    margin-bottom: 10px;
}

.book-details .details {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}

.book-details .description {
    font-size: 14px;
    margin: 10px 0;
}

.read-now {
    margin-top: 20%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s;
}

.read-now i {
    font-size: 18px;
    text-align: center;
    margin-left: 5px;
    padding-bottom: 2px;
}

.read-now:hover {
    background-color: #0056b3;
    color: #000;
}

.table td i {
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.table td i:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}
